In [8]:
import pandas as pd
from sqlalchemy import create_engine

from workdir.classes import config

engine = create_engine(config.QML_DB_CONN_STRING)
con = engine.connect()

In [42]:
t = pd.read_sql_table('subs_csi', con)

In [56]:
t[~t.csi.isnull()].to_csv('data/ids_train.csv', columns=['sk_id'], index=False)
t[~t.csi.isnull()].to_csv('data/train_y.csv', columns=['sk_id', 'csi'], index=False)

t[t.csi.isnull()].to_csv('data/ids_test.csv', columns=['sk_id'], index=False)

ids_train = t[~t.csi.isnull()].sk_id.tolist()
ids_test = t[t.csi.isnull()].sk_id.tolist()

In [44]:
f = pd.read_sql_table('subs_features', con)

In [62]:
f[f.sk_id.isin(ids_train)].groupby('sk_id').sum().to_csv('data/v0001_train_x.csv')
f[f.sk_id.isin(ids_test)].groupby('sk_id').sum().to_csv('data/v0001_test_x.csv')

In [63]:
f[f.sk_id.isin(ids_train)].groupby('sk_id').sum().to_csv('data/v0002_train_x.csv')
f[f.sk_id.isin(ids_test)].groupby('sk_id').sum().to_csv('data/v0002_test_x.csv')

In [78]:
f = pd.read_sql_query("""

select 
	sk_id,
	count(distinct snap_date),
	com_cat_1 as category_1,
	com_cat_2 as category_2,
	sum(com_cat_2) as com_cat_2__sum,
	min(com_cat_2) as com_cat_2_min,
	max(com_cat_2) as com_cat_2__max,
	avg(com_cat_2) as com_cat_2__avg,
	median(com_cat_2) as com_cat_2__median,
	sum(case com_cat_3 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__01,
	sum(case com_cat_3 when 2 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__02,
	sum(case com_cat_3 when 3 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__03,
	sum(case com_cat_3 when 4 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__04,
	sum(case com_cat_3 when 5 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__05,
	sum(case com_cat_3 when 6 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__06,
	sum(case com_cat_3 when 7 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__07,
	sum(case com_cat_3 when 8 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__08,
	sum(case com_cat_3 when 9 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__09,
	sum(case com_cat_3 when 10 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__10,
	sum(case com_cat_3 when 11 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__11,
	sum(case com_cat_3 when 12 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__12,
	sum(case com_cat_3 when 13 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__13,
	sum(case com_cat_3 when 14 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__14,
	sum(case com_cat_3 when 15 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__15,
	sum(case com_cat_3 when 16 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__16,
	sum(case com_cat_3 when 17 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__17,
	sum(case base_type when 1 then 1 else 0 end)/count(distinct snap_date)::float as base_type__1,
	sum(case base_type when 2 then 1 else 0 end)/count(distinct snap_date)::float as base_type__2,
	sum(case act when 0 then 1 else 0 end)/count(distinct snap_date)::float as act__1,
	sum(case act when 1 then 1 else 0 end)/count(distinct snap_date)::float as act__2,
	sum(case arpu_group when 1 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__01,
	sum(case arpu_group when 2 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__02,
	sum(case arpu_group when 3 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__03,
	sum(case arpu_group when 4 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__04,
	sum(case arpu_group when 5 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__05,
	sum(case arpu_group when 6 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__06,
	sum(case arpu_group when 7 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__07,
	sum(case arpu_group when 8 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__08,
	sum(case arpu_group when 9 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__09,
	sum(case arpu_group when 10 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__10,
	sum(case arpu_group when 11 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__11,
	sum(case arpu_group when 12 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__12,
	sum(case when arpu_group is null then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__null,
	sum(case com_cat_7 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__1,
	sum(case com_cat_7 when 2 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__2,
	sum(case com_cat_7 when 3 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__3,
	sum(case com_cat_7 when 4 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__4,
	sum(case com_cat_7 when 5 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__5,
	sum(case com_cat_7 when 6 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__6,
	sum(case com_cat_7 when 7 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__7,
	sum(case com_cat_7 when 8 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__8,
	sum(case com_cat_7 when 9 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__9,
	sum(com_cat_8) as com_cat_8__sum,
	min(com_cat_8) as com_cat_8__min,
	max(com_cat_8) as com_cat_8__max,
	avg(com_cat_8) as com_cat_8__avg,
	median(com_cat_8) as com_cat_8__median,
	sum(case device_type_id when 1 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__1,
	sum(case device_type_id when 2 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__2,
	sum(case device_type_id when 3 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__3,
	sum(case device_type_id when 4 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__4,
	sum(case device_type_id when 5 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__5,
	sum(case device_type_id when 6 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__6,
	sum(case device_type_id when 7 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__7,
	sum(case device_type_id when 8 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__8,
	sum(case when device_type_id is null then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__null,
	sum(case internet_type_id when 1 then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__1,
	sum(case internet_type_id when 2 then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__2,
	sum(case internet_type_id when 3 then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__3,
	sum(case when internet_type_id is null then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__null,
	sum(revenue) as revenue__sum,
	min(revenue) as revenue__min,
	max(revenue) as revenue__max,
	avg(revenue) as revenue__avg,
	median(revenue) as revenue__median,
		sum(itc) as itc__sum,
	min(itc) as itc__min,
	max(itc) as itc__max,
	avg(itc) as itc__avg,
	median(itc) as itc__median,
		sum(vas) as vas__sum,
	min(vas) as vas__min,
	max(vas) as vas__max,
	avg(vas) as vas__avg,
	median(vas) as vas__median,
		sum(rent_channel) as rent_channel__sum,
	min(rent_channel) as rent_channel__min,
	max(rent_channel) as rent_channel__max,
	avg(rent_channel) as rent_channel__avg,
	median(rent_channel) as rent_channel__median,
		sum(roam) as roam__sum,
	min(roam) as roam__min,
	max(roam) as roam__max,
	avg(roam) as roam__avg,
	median(roam) as roam__median,
		sum(cost) as cost__sum,
	min(cost) as cost__min,
	max(cost) as cost__max,
	avg(cost) as cost__avg,
	median(cost) as cost__median,
		sum(com_cat_17) as com_cat_17__sum,
	min(com_cat_17) as com_cat_17__min,
	max(com_cat_17) as com_cat_17__max,
	avg(com_cat_17) as com_cat_17__avg,
	median(com_cat_17) as com_cat_17__median,
		sum(com_cat_18) as com_cat_18__sum,
	min(com_cat_18) as com_cat_18__min,
	max(com_cat_18) as com_cat_18__max,
	avg(com_cat_18) as com_cat_18__avg,
	median(com_cat_18) as com_cat_18__median,
		sum(com_cat_19) as com_cat_19__sum,
	min(com_cat_19) as com_cat_19__min,
	max(com_cat_19) as com_cat_19__max,
	avg(com_cat_19) as com_cat_19__avg,
	median(com_cat_19) as com_cat_19__median,
		sum(com_cat_20) as com_cat_20__sum,
	min(com_cat_20) as com_cat_20__min,
	max(com_cat_20) as com_cat_20__max,
	avg(com_cat_20) as com_cat_20__avg,
	median(com_cat_20) as com_cat_20__median,
		sum(com_cat_21) as com_cat_21__sum,
	min(com_cat_21) as com_cat_21__min,
	max(com_cat_21) as com_cat_21__max,
	avg(com_cat_21) as com_cat_21__avg,
	median(com_cat_21) as com_cat_21__median,
		sum(com_cat_22) as com_cat_22__sum,
	min(com_cat_22) as com_cat_22__min,
	max(com_cat_22) as com_cat_22__max,
	avg(com_cat_22) as com_cat_22__avg,
	median(com_cat_22) as com_cat_22__median,
		sum(com_cat_23) as com_cat_23__sum,
	min(com_cat_23) as com_cat_23__min,
	max(com_cat_23) as com_cat_23__max,
	avg(com_cat_23) as com_cat_23__avg,
	median(com_cat_23) as com_cat_23__median,
	sum(case when com_cat_24<>'31.12' then 1 else 0 end) as com_cat_24__sum_not3112,
	sum(case when com_cat_25=0 then 1 else 0 end) as com_cat_25__sum_zero,
	sum(case when com_cat_26=0 then 1 else 0 end) as com_cat_26__sum_zero,
	sum(case com_cat_26 when 0 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_26__1,
	sum(case com_cat_26 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_26__2,
		sum(com_cat_27) as com_cat_27__sum,
	min(com_cat_27) as com_cat_27__min,
	max(com_cat_27) as com_cat_27__max,
	avg(com_cat_27) as com_cat_27__avg,
	median(com_cat_27) as com_cat_27__median,
		sum(com_cat_28) as com_cat_28__sum,
	min(com_cat_28) as com_cat_28__min,
	max(com_cat_28) as com_cat_28__max,
	avg(com_cat_28) as com_cat_28__avg,
	median(com_cat_28) as com_cat_28__median,
		sum(com_cat_29) as com_cat_29__sum,
	min(com_cat_29) as com_cat_29__min,
	max(com_cat_29) as com_cat_29__max,
	avg(com_cat_29) as com_cat_29__avg,
	median(com_cat_29) as com_cat_29__median,
		sum(com_cat_30) as com_cat_30__sum,
	min(com_cat_30) as com_cat_30__min,
	max(com_cat_30) as com_cat_30__max,
	avg(com_cat_30) as com_cat_30__avg,
	median(com_cat_30) as com_cat_30__median,
		sum(com_cat_31) as com_cat_31__sum,
	min(com_cat_31) as com_cat_31__min,
	max(com_cat_31) as com_cat_31__max,
	avg(com_cat_31) as com_cat_31__avg,
	median(com_cat_31) as com_cat_31__median,
		sum(com_cat_32) as com_cat_32__sum,
	min(com_cat_32) as com_cat_32__min,
	max(com_cat_32) as com_cat_32__max,
	avg(com_cat_32) as com_cat_32__avg,
	median(com_cat_32) as com_cat_32__median,
		sum(com_cat_33) as com_cat_33__sum,
	min(com_cat_33) as com_cat_33__min,
	max(com_cat_33) as com_cat_33__max,
	avg(com_cat_33) as com_cat_33__avg,
	median(com_cat_33) as com_cat_33__median,
	sum(case com_cat_34 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__01,
	sum(case com_cat_34 when 2 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__02,
	sum(case com_cat_34 when 3 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__03,
	sum(case com_cat_34 when 4 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__04,
	sum(case com_cat_34 when 5 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__05,
	sum(case com_cat_34 when 6 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__06,
	sum(case com_cat_34 when 7 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__07,
	sum(case com_cat_34 when 8 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__08,
	sum(case com_cat_34 when 9 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__09,
	sum(case com_cat_34 when 10 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__10,
	sum(case when com_cat_34 is null then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__null
from subs_features
group by sk_id, com_cat_1, com_cat_2


""", con)

In [73]:
f = pd.get_dummies(f, columns=['category_1', 'category_2'])

In [75]:
f[f.sk_id.isin(ids_train)].groupby('sk_id').sum().to_csv('data/v0003_train_x.csv')
f[f.sk_id.isin(ids_test)].groupby('sk_id').sum().to_csv('data/v0003_test_x.csv')

In [112]:
f = pd.read_sql_query("""

select 
	sk_id,
	count(distinct snap_date),
	com_cat_1 as category_1,
	sum(com_cat_2) as com_cat_2__sum,
	min(com_cat_2) as com_cat_2_min,
	max(com_cat_2) as com_cat_2__max,
	avg(com_cat_2) as com_cat_2__avg,
	median(com_cat_2) as com_cat_2__median,
	sum(case com_cat_3 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__01,
	sum(case com_cat_3 when 2 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__02,
	sum(case com_cat_3 when 3 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__03,
	sum(case com_cat_3 when 4 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__04,
	sum(case com_cat_3 when 5 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__05,
	sum(case com_cat_3 when 6 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__06,
	sum(case com_cat_3 when 7 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__07,
	sum(case com_cat_3 when 8 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__08,
	sum(case com_cat_3 when 9 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__09,
	sum(case com_cat_3 when 10 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__10,
	sum(case com_cat_3 when 11 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__11,
	sum(case com_cat_3 when 12 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__12,
	sum(case com_cat_3 when 13 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__13,
	sum(case com_cat_3 when 14 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__14,
	sum(case com_cat_3 when 15 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__15,
	sum(case com_cat_3 when 16 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__16,
	sum(case com_cat_3 when 17 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__17,
	sum(case base_type when 1 then 1 else 0 end)/count(distinct snap_date)::float as base_type__1,
	sum(case base_type when 2 then 1 else 0 end)/count(distinct snap_date)::float as base_type__2,
	sum(case act when 0 then 1 else 0 end)/count(distinct snap_date)::float as act__1,
	sum(case act when 1 then 1 else 0 end)/count(distinct snap_date)::float as act__2,
	sum(case arpu_group when 1 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__01,
	sum(case arpu_group when 2 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__02,
	sum(case arpu_group when 3 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__03,
	sum(case arpu_group when 4 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__04,
	sum(case arpu_group when 5 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__05,
	sum(case arpu_group when 6 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__06,
	sum(case arpu_group when 7 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__07,
	sum(case arpu_group when 8 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__08,
	sum(case arpu_group when 9 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__09,
	sum(case arpu_group when 10 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__10,
	sum(case arpu_group when 11 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__11,
	sum(case arpu_group when 12 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__12,
	sum(case when arpu_group is null then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__null,
	sum(case com_cat_7 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__1,
	sum(case com_cat_7 when 2 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__2,
	sum(case com_cat_7 when 3 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__3,
	sum(case com_cat_7 when 4 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__4,
	sum(case com_cat_7 when 5 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__5,
	sum(case com_cat_7 when 6 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__6,
	sum(case com_cat_7 when 7 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__7,
	sum(case com_cat_7 when 8 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__8,
	sum(case com_cat_7 when 9 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__9,
	sum(com_cat_8) as com_cat_8__sum,
	min(com_cat_8) as com_cat_8__min,
	max(com_cat_8) as com_cat_8__max,
	avg(com_cat_8) as com_cat_8__avg,
	median(com_cat_8) as com_cat_8__median,
	sum(case device_type_id when 1 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__1,
	sum(case device_type_id when 2 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__2,
	sum(case device_type_id when 3 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__3,
	sum(case device_type_id when 4 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__4,
	sum(case device_type_id when 5 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__5,
	sum(case device_type_id when 6 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__6,
	sum(case device_type_id when 7 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__7,
	sum(case device_type_id when 8 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__8,
	sum(case when device_type_id is null then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__null,
	sum(case internet_type_id when 1 then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__1,
	sum(case internet_type_id when 2 then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__2,
	sum(case internet_type_id when 3 then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__3,
	sum(case when internet_type_id is null then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__null,
	sum(revenue) as revenue__sum,
	min(revenue) as revenue__min,
	max(revenue) as revenue__max,
	avg(revenue) as revenue__avg,
	median(revenue) as revenue__median,
		sum(itc) as itc__sum,
	min(itc) as itc__min,
	max(itc) as itc__max,
	avg(itc) as itc__avg,
	median(itc) as itc__median,
		sum(vas) as vas__sum,
	min(vas) as vas__min,
	max(vas) as vas__max,
	avg(vas) as vas__avg,
	median(vas) as vas__median,
		sum(rent_channel) as rent_channel__sum,
	min(rent_channel) as rent_channel__min,
	max(rent_channel) as rent_channel__max,
	avg(rent_channel) as rent_channel__avg,
	median(rent_channel) as rent_channel__median,
		sum(roam) as roam__sum,
	min(roam) as roam__min,
	max(roam) as roam__max,
	avg(roam) as roam__avg,
	median(roam) as roam__median,
		sum(cost) as cost__sum,
	min(cost) as cost__min,
	max(cost) as cost__max,
	avg(cost) as cost__avg,
	median(cost) as cost__median,
		sum(com_cat_17) as com_cat_17__sum,
	min(com_cat_17) as com_cat_17__min,
	max(com_cat_17) as com_cat_17__max,
	avg(com_cat_17) as com_cat_17__avg,
	median(com_cat_17) as com_cat_17__median,
		sum(com_cat_18) as com_cat_18__sum,
	min(com_cat_18) as com_cat_18__min,
	max(com_cat_18) as com_cat_18__max,
	avg(com_cat_18) as com_cat_18__avg,
	median(com_cat_18) as com_cat_18__median,
		sum(com_cat_19) as com_cat_19__sum,
	min(com_cat_19) as com_cat_19__min,
	max(com_cat_19) as com_cat_19__max,
	avg(com_cat_19) as com_cat_19__avg,
	median(com_cat_19) as com_cat_19__median,
		sum(com_cat_20) as com_cat_20__sum,
	min(com_cat_20) as com_cat_20__min,
	max(com_cat_20) as com_cat_20__max,
	avg(com_cat_20) as com_cat_20__avg,
	median(com_cat_20) as com_cat_20__median,
		sum(com_cat_21) as com_cat_21__sum,
	min(com_cat_21) as com_cat_21__min,
	max(com_cat_21) as com_cat_21__max,
	avg(com_cat_21) as com_cat_21__avg,
	median(com_cat_21) as com_cat_21__median,
		sum(com_cat_22) as com_cat_22__sum,
	min(com_cat_22) as com_cat_22__min,
	max(com_cat_22) as com_cat_22__max,
	avg(com_cat_22) as com_cat_22__avg,
	median(com_cat_22) as com_cat_22__median,
		sum(com_cat_23) as com_cat_23__sum,
	min(com_cat_23) as com_cat_23__min,
	max(com_cat_23) as com_cat_23__max,
	avg(com_cat_23) as com_cat_23__avg,
	median(com_cat_23) as com_cat_23__median,
	sum(case when com_cat_24<>'31.12' then 1 else 0 end) as com_cat_24__sum_not3112,
	sum(case when com_cat_25=0 then 1 else 0 end) as com_cat_25__sum_zero,
	sum(case when com_cat_26=0 then 1 else 0 end) as com_cat_26__sum_zero,
	sum(case com_cat_26 when 0 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_26__1,
	sum(case com_cat_26 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_26__2,
		sum(com_cat_27) as com_cat_27__sum,
	min(com_cat_27) as com_cat_27__min,
	max(com_cat_27) as com_cat_27__max,
	avg(com_cat_27) as com_cat_27__avg,
	median(com_cat_27) as com_cat_27__median,
		sum(com_cat_28) as com_cat_28__sum,
	min(com_cat_28) as com_cat_28__min,
	max(com_cat_28) as com_cat_28__max,
	avg(com_cat_28) as com_cat_28__avg,
	median(com_cat_28) as com_cat_28__median,
		sum(com_cat_29) as com_cat_29__sum,
	min(com_cat_29) as com_cat_29__min,
	max(com_cat_29) as com_cat_29__max,
	avg(com_cat_29) as com_cat_29__avg,
	median(com_cat_29) as com_cat_29__median,
		sum(com_cat_30) as com_cat_30__sum,
	min(com_cat_30) as com_cat_30__min,
	max(com_cat_30) as com_cat_30__max,
	avg(com_cat_30) as com_cat_30__avg,
	median(com_cat_30) as com_cat_30__median,
		sum(com_cat_31) as com_cat_31__sum,
	min(com_cat_31) as com_cat_31__min,
	max(com_cat_31) as com_cat_31__max,
	avg(com_cat_31) as com_cat_31__avg,
	median(com_cat_31) as com_cat_31__median,
		sum(com_cat_32) as com_cat_32__sum,
	min(com_cat_32) as com_cat_32__min,
	max(com_cat_32) as com_cat_32__max,
	avg(com_cat_32) as com_cat_32__avg,
	median(com_cat_32) as com_cat_32__median,
		sum(com_cat_33) as com_cat_33__sum,
	min(com_cat_33) as com_cat_33__min,
	max(com_cat_33) as com_cat_33__max,
	avg(com_cat_33) as com_cat_33__avg,
	median(com_cat_33) as com_cat_33__median,
	sum(case com_cat_34 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__01,
	sum(case com_cat_34 when 2 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__02,
	sum(case com_cat_34 when 3 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__03,
	sum(case com_cat_34 when 4 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__04,
	sum(case com_cat_34 when 5 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__05,
	sum(case com_cat_34 when 6 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__06,
	sum(case com_cat_34 when 7 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__07,
	sum(case com_cat_34 when 8 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__08,
	sum(case com_cat_34 when 9 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__09,
	sum(case com_cat_34 when 10 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__10,
	sum(case when com_cat_34 is null then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__null
from subs_features
group by sk_id, com_cat_1



""", con)

In [87]:
f[f.sk_id.isin(ids_train)].to_csv('data/v0005_train_x.csv')
f[f.sk_id.isin(ids_test)].to_csv('data/v0005_test_x.csv')

In [114]:
f = pd.get_dummies(f, columns=['category_1'])

f[f.sk_id.isin(ids_train)].to_csv('data/v0007_train_x.csv')
f[f.sk_id.isin(ids_test)].to_csv('data/v0007_test_x.csv')

In [93]:
f_train = pd.read_csv('data/v0005_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0005_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = 'com_cat_28__min vas__median com_cat_22__max internet_type_id__2 vas__max internet_type_id__1 ' + \
'com_cat_17__avg com_cat_8__min revenue__avg arpu_group__07 com_cat_3__17 cost__median cost__sum'

exclude = exclude.split(' ')

f_train = f_train[f_train.columns.difference(exclude)]
f_test = f_test[f_train.columns.difference(exclude)]

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0006_train_x.csv')
f_test.to_csv('data/v0006_test_x.csv')

(4222, 185) (5221, 185)
(4222, 172) (5221, 172)

In [102]:
f_train = pd.read_csv('data/v0007_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0007_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = 'com_cat_28__min vas__median com_cat_22__max internet_type_id__2 vas__max internet_type_id__1 ' + \
'com_cat_17__avg com_cat_8__min revenue__avg arpu_group__07 com_cat_3__17 cost__median cost__sum'

exclude = exclude.split(' ')

f_train = f_train[f_train.columns.difference(exclude)]
f_test = f_test[f_train.columns.difference(exclude)]

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0008_train_x.csv')
f_test.to_csv('data/v0008_test_x.csv')

(4222, 192) (5221, 192)
(4222, 179) (5221, 179)

In [103]:
f_train = pd.read_csv('data/v0003_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0003_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = 'com_cat_28__min vas__median com_cat_22__max internet_type_id__2 vas__max internet_type_id__1 ' + \
'com_cat_17__avg com_cat_8__min revenue__avg arpu_group__07 com_cat_3__17 cost__median cost__sum'

exclude = exclude.split(' ')

f_train = f_train[f_train.columns.difference(exclude)]
f_test = f_test[f_train.columns.difference(exclude)]

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0009_train_x.csv')
f_test.to_csv('data/v0009_test_x.csv')

(4222, 274) (5221, 274)
(4222, 261) (5221, 261)

In [107]:
f_train = pd.read_csv('data/v0007_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0007_test_x.csv',index_col='sk_id')
print(f_train.shape, f_test.shape)

f = pd.read_sql_query("""

select 
	sk_id,
	com_cat_2 as com_cat_2__last,
	com_cat_2 as com_cat_2__last__cat,
	com_cat_3 as com_cat_3__last,
	com_cat_3 as com_cat_3__last__cat,
	case base_type when 2 then 1 else 0 end as base_type__last,
	act as act__last,
	arpu_group as arpu_group__last,
	arpu_group as arpu_group__last__cat,
	com_cat_7 as com_cat_7__last,
	com_cat_7 as com_cat_7__last__cat,
	com_cat_8 as com_cat_8__last__cat,
	device_type_id as device_type_id__last__cat,
	internet_type_id as internet_type_id__last__cat,
	revenue as revenue__last,
	itc as itc__last,
	vas as vas__last,
	rent_channel as rent_channel__last,
	roam as roam__last,
	cost as cost__last,
	com_cat_17 as com_cat_17__last,
	com_cat_18 as com_cat_18__last,
	com_cat_19 as com_cat_19__last,
	com_cat_20 as com_cat_20__last,
	com_cat_21 as com_cat_21__last,
	com_cat_22 as com_cat_22__last,
	com_cat_23 as com_cat_23__last,
	case when com_cat_24<>'31.12' then 1 else 0 end as com_cat_24__last_not3112,
	com_cat_25 as com_cat_25__last,
	com_cat_26 as com_cat_26__last,
	com_cat_27 as com_cat_27__last,
	com_cat_28 as com_cat_28__last,
	com_cat_29 as com_cat_29__last,
	com_cat_30 as com_cat_30__last,
	com_cat_31 as com_cat_31__last,
	com_cat_32 as com_cat_32__last,
	com_cat_33 as com_cat_33__last,
	com_cat_34 as com_cat_34__last,
	com_cat_34 as com_cat_34__last__cat
from subs_features f
where snap_date=(select max(snap_date) from subs_features where sk_id=f.sk_id)

""", con)

f = pd.get_dummies(f, columns=['com_cat_2__last__cat', 'com_cat_3__last__cat', 'arpu_group__last__cat', 
                               'com_cat_7__last__cat', 'com_cat_8__last__cat', 'device_type_id__last__cat', 
                               'internet_type_id__last__cat', 'com_cat_34__last__cat'
                              ])


f_train = f_train.join(f[f.sk_id.isin(ids_train)])
f_test = f_test.join(f[f.sk_id.isin(ids_test)])

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0010_train_x.csv')
f_test.to_csv('data/v0010_test_x.csv')

(4222, 192) (5221, 192)
(4222, 1683) (5221, 1683)

In [144]:
f = pd.read_sql_query("""

select 
	sk_id,
	count(distinct snap_date),
	com_cat_1 as com_cat_1__cat,
	sum(com_cat_2) as com_cat_2__sum,
	min(com_cat_2) as com_cat_2_min,
	max(com_cat_2) as com_cat_2__max,
	avg(com_cat_2) as com_cat_2__avg,
	median(com_cat_2) as com_cat_2__median,
	sum(case com_cat_3 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__01,
	sum(case com_cat_3 when 2 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__02,
	sum(case com_cat_3 when 3 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__03,
	sum(case com_cat_3 when 4 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__04,
	sum(case com_cat_3 when 5 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__05,
	sum(case com_cat_3 when 6 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__06,
	sum(case com_cat_3 when 7 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__07,
	sum(case com_cat_3 when 8 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__08,
	sum(case com_cat_3 when 9 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__09,
	sum(case com_cat_3 when 10 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__10,
	sum(case com_cat_3 when 11 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__11,
	sum(case com_cat_3 when 12 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__12,
	sum(case com_cat_3 when 13 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__13,
	sum(case com_cat_3 when 14 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__14,
	sum(case com_cat_3 when 15 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__15,
	sum(case com_cat_3 when 16 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__16,
	sum(case com_cat_3 when 17 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_3__17,
	sum(case base_type when 1 then 1 else 0 end)/count(distinct snap_date)::float as base_type__1,
	sum(case base_type when 2 then 1 else 0 end)/count(distinct snap_date)::float as base_type__2,
	sum(case act when 0 then 1 else 0 end)/count(distinct snap_date)::float as act__1,
	sum(case act when 1 then 1 else 0 end)/count(distinct snap_date)::float as act__2,
	sum(case arpu_group when 1 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__01,
	sum(case arpu_group when 2 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__02,
	sum(case arpu_group when 3 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__03,
	sum(case arpu_group when 4 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__04,
	sum(case arpu_group when 5 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__05,
	sum(case arpu_group when 6 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__06,
	sum(case arpu_group when 7 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__07,
	sum(case arpu_group when 8 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__08,
	sum(case arpu_group when 9 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__09,
	sum(case arpu_group when 10 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__10,
	sum(case arpu_group when 11 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__11,
	sum(case arpu_group when 12 then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__12,
	sum(case when arpu_group is null then 1 else 0 end)/count(distinct snap_date)::float as arpu_group__null,
	sum(case com_cat_7 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__1,
	sum(case com_cat_7 when 2 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__2,
	sum(case com_cat_7 when 3 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__3,
	sum(case com_cat_7 when 4 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__4,
	sum(case com_cat_7 when 5 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__5,
	sum(case com_cat_7 when 6 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__6,
	sum(case com_cat_7 when 7 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__7,
	sum(case com_cat_7 when 8 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__8,
	sum(case com_cat_7 when 9 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_7__9,
	sum(com_cat_8) as com_cat_8__sum,
	min(com_cat_8) as com_cat_8__min,
	max(com_cat_8) as com_cat_8__max,
	avg(com_cat_8) as com_cat_8__avg,
	median(com_cat_8) as com_cat_8__median,
	sum(case device_type_id when 1 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__1,
	sum(case device_type_id when 2 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__2,
	sum(case device_type_id when 3 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__3,
	sum(case device_type_id when 4 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__4,
	sum(case device_type_id when 5 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__5,
	sum(case device_type_id when 6 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__6,
	sum(case device_type_id when 7 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__7,
	sum(case device_type_id when 8 then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__8,
	sum(case when device_type_id is null then 1 else 0 end)/count(distinct snap_date)::float as device_type_id__null,
	sum(case internet_type_id when 1 then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__1,
	sum(case internet_type_id when 2 then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__2,
	sum(case internet_type_id when 3 then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__3,
	sum(case when internet_type_id is null then 1 else 0 end)/count(distinct snap_date)::float as internet_type_id__null,
	sum(revenue) as revenue__sum,
	min(revenue) as revenue__min,
	max(revenue) as revenue__max,
	avg(revenue) as revenue__avg,
	median(revenue) as revenue__median,
		sum(itc) as itc__sum,
	min(itc) as itc__min,
	max(itc) as itc__max,
	avg(itc) as itc__avg,
	median(itc) as itc__median,
		sum(vas) as vas__sum,
	min(vas) as vas__min,
	max(vas) as vas__max,
	avg(vas) as vas__avg,
	median(vas) as vas__median,
		sum(rent_channel) as rent_channel__sum,
	min(rent_channel) as rent_channel__min,
	max(rent_channel) as rent_channel__max,
	avg(rent_channel) as rent_channel__avg,
	median(rent_channel) as rent_channel__median,
		sum(roam) as roam__sum,
	min(roam) as roam__min,
	max(roam) as roam__max,
	avg(roam) as roam__avg,
	median(roam) as roam__median,
		sum(cost) as cost__sum,
	min(cost) as cost__min,
	max(cost) as cost__max,
	avg(cost) as cost__avg,
	median(cost) as cost__median,
		sum(com_cat_17) as com_cat_17__sum,
	min(com_cat_17) as com_cat_17__min,
	max(com_cat_17) as com_cat_17__max,
	avg(com_cat_17) as com_cat_17__avg,
	median(com_cat_17) as com_cat_17__median,
		sum(com_cat_18) as com_cat_18__sum,
	min(com_cat_18) as com_cat_18__min,
	max(com_cat_18) as com_cat_18__max,
	avg(com_cat_18) as com_cat_18__avg,
	median(com_cat_18) as com_cat_18__median,
		sum(com_cat_19) as com_cat_19__sum,
	min(com_cat_19) as com_cat_19__min,
	max(com_cat_19) as com_cat_19__max,
	avg(com_cat_19) as com_cat_19__avg,
	median(com_cat_19) as com_cat_19__median,
		sum(com_cat_20) as com_cat_20__sum,
	min(com_cat_20) as com_cat_20__min,
	max(com_cat_20) as com_cat_20__max,
	avg(com_cat_20) as com_cat_20__avg,
	median(com_cat_20) as com_cat_20__median,
		sum(com_cat_21) as com_cat_21__sum,
	min(com_cat_21) as com_cat_21__min,
	max(com_cat_21) as com_cat_21__max,
	avg(com_cat_21) as com_cat_21__avg,
	median(com_cat_21) as com_cat_21__median,
		sum(com_cat_22) as com_cat_22__sum,
	min(com_cat_22) as com_cat_22__min,
	max(com_cat_22) as com_cat_22__max,
	avg(com_cat_22) as com_cat_22__avg,
	median(com_cat_22) as com_cat_22__median,
		sum(com_cat_23) as com_cat_23__sum,
	min(com_cat_23) as com_cat_23__min,
	max(com_cat_23) as com_cat_23__max,
	avg(com_cat_23) as com_cat_23__avg,
	median(com_cat_23) as com_cat_23__median,
	sum(case when com_cat_24<>'31.12' then 1 else 0 end) as com_cat_24__sum_not3112,
	sum(case when com_cat_25=0 then 1 else 0 end) as com_cat_25__sum_zero,
	sum(case when com_cat_26=0 then 1 else 0 end) as com_cat_26__sum_zero,
	sum(case com_cat_26 when 0 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_26__1,
	sum(case com_cat_26 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_26__2,
		sum(com_cat_27) as com_cat_27__sum,
	min(com_cat_27) as com_cat_27__min,
	max(com_cat_27) as com_cat_27__max,
	avg(com_cat_27) as com_cat_27__avg,
	median(com_cat_27) as com_cat_27__median,
		sum(com_cat_28) as com_cat_28__sum,
	min(com_cat_28) as com_cat_28__min,
	max(com_cat_28) as com_cat_28__max,
	avg(com_cat_28) as com_cat_28__avg,
	median(com_cat_28) as com_cat_28__median,
		sum(com_cat_29) as com_cat_29__sum,
	min(com_cat_29) as com_cat_29__min,
	max(com_cat_29) as com_cat_29__max,
	avg(com_cat_29) as com_cat_29__avg,
	median(com_cat_29) as com_cat_29__median,
		sum(com_cat_30) as com_cat_30__sum,
	min(com_cat_30) as com_cat_30__min,
	max(com_cat_30) as com_cat_30__max,
	avg(com_cat_30) as com_cat_30__avg,
	median(com_cat_30) as com_cat_30__median,
		sum(com_cat_31) as com_cat_31__sum,
	min(com_cat_31) as com_cat_31__min,
	max(com_cat_31) as com_cat_31__max,
	avg(com_cat_31) as com_cat_31__avg,
	median(com_cat_31) as com_cat_31__median,
		sum(com_cat_32) as com_cat_32__sum,
	min(com_cat_32) as com_cat_32__min,
	max(com_cat_32) as com_cat_32__max,
	avg(com_cat_32) as com_cat_32__avg,
	median(com_cat_32) as com_cat_32__median,
		sum(com_cat_33) as com_cat_33__sum,
	min(com_cat_33) as com_cat_33__min,
	max(com_cat_33) as com_cat_33__max,
	avg(com_cat_33) as com_cat_33__avg,
	median(com_cat_33) as com_cat_33__median,
	sum(case com_cat_34 when 1 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__01,
	sum(case com_cat_34 when 2 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__02,
	sum(case com_cat_34 when 3 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__03,
	sum(case com_cat_34 when 4 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__04,
	sum(case com_cat_34 when 5 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__05,
	sum(case com_cat_34 when 6 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__06,
	sum(case com_cat_34 when 7 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__07,
	sum(case com_cat_34 when 8 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__08,
	sum(case com_cat_34 when 9 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__09,
	sum(case com_cat_34 when 10 then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__10,
	sum(case when com_cat_34 is null then 1 else 0 end)/count(distinct snap_date)::float as com_cat_34__null
from subs_features
group by sk_id, com_cat_1



""", con, index_col='sk_id')
f = pd.get_dummies(f, columns=['com_cat_1__cat'])

f_train = f[f.index.isin(ids_train)].reindex(ids_train)
f_test = f[f.index.isin(ids_test)].reindex(ids_test)

print(f_train.shape, f_test.shape)

f = pd.read_sql_query("""

select 
	sk_id,
	com_cat_2 as com_cat_2__last,
	com_cat_2 as com_cat_2__last__cat,
	com_cat_3 as com_cat_3__last,
	com_cat_3 as com_cat_3__last__cat,
	case base_type when 2 then 1 else 0 end as base_type__last,
	act as act__last,
	arpu_group as arpu_group__last,
	arpu_group as arpu_group__last__cat,
	com_cat_7 as com_cat_7__last,
	com_cat_7 as com_cat_7__last__cat,
	com_cat_8 as com_cat_8__last,
	device_type_id as device_type_id__last__cat,
	internet_type_id as internet_type_id__last__cat,
	revenue as revenue__last,
	itc as itc__last,
	vas as vas__last,
	rent_channel as rent_channel__last,
	roam as roam__last,
	cost as cost__last,
	com_cat_17 as com_cat_17__last,
	com_cat_18 as com_cat_18__last,
	com_cat_19 as com_cat_19__last,
	com_cat_20 as com_cat_20__last,
	com_cat_21 as com_cat_21__last,
	com_cat_22 as com_cat_22__last,
	com_cat_23 as com_cat_23__last,
	case when com_cat_24<>'31.12' then 1 else 0 end as com_cat_24__last_not3112,
	com_cat_25 as com_cat_25__last,
	com_cat_26 as com_cat_26__last,
	com_cat_27 as com_cat_27__last,
	com_cat_28 as com_cat_28__last,
	com_cat_29 as com_cat_29__last,
	com_cat_30 as com_cat_30__last,
	com_cat_31 as com_cat_31__last,
	com_cat_32 as com_cat_32__last,
	com_cat_33 as com_cat_33__last,
	com_cat_34 as com_cat_34__last,
	com_cat_34 as com_cat_34__last__cat
from subs_features f
where snap_date=(select max(snap_date) from subs_features where sk_id=f.sk_id)

""", con, index_col='sk_id')

f = pd.get_dummies(f, columns=['com_cat_2__last__cat', 'com_cat_3__last__cat', 'arpu_group__last__cat', 
                               'com_cat_7__last__cat', 'device_type_id__last__cat', 
                               'internet_type_id__last__cat', 'com_cat_34__last__cat'
                              ])


f_train = pd.concat([f_train, f[f.index.isin(ids_train)]], axis=1).reindex(ids_train)
f_test = pd.concat([f_test, f[f.index.isin(ids_test)]], axis=1).reindex(ids_test)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0013_train_x.csv')
f_test.to_csv('data/v0013_test_x.csv')

(4222, 191) (5221, 191)
(4222, 364) (5221, 364)

In [149]:
f_train = pd.read_csv('data/v0013_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0013_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = [        
        'com_cat_2__last__cat_82',
        'com_cat_28__min',
        'vas__median',
        'arpu_group__last__cat_11.0',
        'base_type__last',
        'vas__max',
        'internet_type_id__2',
        'com_cat_7__last__cat_3',
    'com_cat_8__min',
    'internet_type_id__1'
]

f_train = f_train.drop(labels=exclude, axis=1)
f_test = f_test.drop(labels=exclude, axis=1)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0014_train_x.csv')
f_test.to_csv('data/v0014_test_x.csv')

(4222, 364) (5221, 364)
(4222, 354) (5221, 354)

In [151]:
f_train = pd.read_csv('data/v0013_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0013_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)


f1 = pd.read_sql_query("""
select 
	sk_id, 
	count(distinct cell_lac_id) as cell_lac_count,
	sum(sum_minutes) as sum_minutes__sum,
	sum(sum_data_mb) as sum_data_mb__sum,
	sum(sum_data_min) as sum_data_min__sum,
	avg(sum_minutes) as sum_minutes__avg,
	avg(sum_data_mb) as sum_data_mb__avg,
	avg(sum_data_min) as sum_data_min__avg,
	min(sum_minutes) as sum_minutes__min,
	min(sum_data_mb) as sum_data_mb__min,
	min(sum_data_min) as sum_data_min__min,
	max(sum_minutes) as sum_minutes__max,
	max(sum_data_mb) as sum_data_mb__max,
	max(sum_data_min) as sum_data_min__max,
	median(sum_minutes) as sum_minutes__median,
	median(sum_data_mb) as sum_data_mb__median,
	median(sum_data_min) as sum_data_min__median
from subs_bs_consumption 
group by sk_id
""", con, index_col='sk_id')

f2 = pd.read_sql_query("""
select
	sk_id, 
	count(distinct cell_lac_id) as cell_lac_count__mon1,
	sum(sum_minutes) as sum_minutes__sum__mon1,
	sum(sum_data_mb) as sum_data_mb__sum__mon1,
	sum(sum_data_min) as sum_data_min__sum__mon1,
	avg(sum_minutes) as sum_minutes__avg__mon1,
	avg(sum_data_mb) as sum_data_mb__avg__mon1,
	avg(sum_data_min) as sum_data_min__avg__mon1,
	min(sum_minutes) as sum_minutes__min__mon1,
	min(sum_data_mb) as sum_data_mb__min__mon1,
	min(sum_data_min) as sum_data_min__min__mon1,
	max(sum_minutes) as sum_minutes__max__mon1,
	max(sum_data_mb) as sum_data_mb__max__mon1,
	max(sum_data_min) as sum_data_min__max__mon1,
	median(sum_minutes) as sum_minutes__median__mon1,
	median(sum_data_mb) as sum_data_mb__median__mon1,
	median(sum_data_min) as sum_data_min__median__mon1
from subs_bs_consumption f 
where mon=(select min(mon) from subs_bs_consumption where sk_id=f.sk_id)
group by sk_id
""", con, index_col='sk_id')

f3 = pd.read_sql_query("""
select
	sk_id, 
	count(distinct cell_lac_id) as cell_lac_count__mon3,
	sum(sum_minutes) as sum_minutes__sum__mon3,
	sum(sum_data_mb) as sum_data_mb__sum__mon3,
	sum(sum_data_min) as sum_data_min__sum__mon3,
	avg(sum_minutes) as sum_minutes__avg__mon3,
	avg(sum_data_mb) as sum_data_mb__avg__mon3,
	avg(sum_data_min) as sum_data_min__avg__mon3,
	min(sum_minutes) as sum_minutes__min__mon3,
	min(sum_data_mb) as sum_data_mb__min__mon3,
	min(sum_data_min) as sum_data_min__min__mon3,
	max(sum_minutes) as sum_minutes__max__mon3,
	max(sum_data_mb) as sum_data_mb__max__mon3,
	max(sum_data_min) as sum_data_min__max__mon3,
	median(sum_minutes) as sum_minutes__median__mon3,
	median(sum_data_mb) as sum_data_mb__median__mon3,
	median(sum_data_min) as sum_data_min__median__mon3
from subs_bs_consumption f 
where mon=(select max(mon) from subs_bs_consumption where sk_id=f.sk_id)
group by sk_id

""", con, index_col='sk_id')


f4 = pd.read_sql_query("""
select
	sk_id, 
	count(distinct cell_lac_id) as cell_lac_count__mon2,
	sum(sum_minutes) as sum_minutes__sum__mon2,
	sum(sum_data_mb) as sum_data_mb__sum__mon2,
	sum(sum_data_min) as sum_data_min__sum__mon2,
	avg(sum_minutes) as sum_minutes__avg__mon2,
	avg(sum_data_mb) as sum_data_mb__avg__mon2,
	avg(sum_data_min) as sum_data_min__avg__mon2,
	min(sum_minutes) as sum_minutes__min__mon2,
	min(sum_data_mb) as sum_data_mb__min__mon2,
	min(sum_data_min) as sum_data_min__min__mon2,
	max(sum_minutes) as sum_minutes__max__mon2,
	max(sum_data_mb) as sum_data_mb__max__mon2,
	max(sum_data_min) as sum_data_min__max__mon2,
	median(sum_minutes) as sum_minutes__median__mon2,
	median(sum_data_mb) as sum_data_mb__median__mon2,
	median(sum_data_min) as sum_data_min__median__mon2
from subs_bs_consumption f 
where mon=(
	select 
	case 
		when max(mon)-min(mon) > 55 then  max(mon)-interval '1 month'
		when max(mon)-min(mon) =0 then  max(mon)
		else min(mon)
	end
	from subs_bs_consumption f   where sk_id=f.sk_id
)
group by sk_id
""", con, index_col='sk_id')

f_train = pd.concat([
    f_train, 
    f1[f1.index.isin(ids_train)],
    f2[f2.index.isin(ids_train)],
    f3[f3.index.isin(ids_train)],
    f4[f4.index.isin(ids_train)],
], axis=1).reindex(ids_train)

f_test = pd.concat([
    f_test, 
    f1[f1.index.isin(ids_test)], 
    f2[f2.index.isin(ids_test)], 
    f3[f3.index.isin(ids_test)], 
    f4[f4.index.isin(ids_test)]
], axis=1).reindex(ids_test)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0015_train_x.csv')
f_test.to_csv('data/v0015_test_x.csv')

(4222, 364) (5221, 364)
(4222, 428) (5221, 428)

In [153]:
f_train = pd.read_csv('data/v0015_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0015_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = [        
'com_cat_2__sum',        
'sum_minutes__max',        
'sum_minutes__max__mon2',        
'com_cat_29__sum',        
'sum_data_min__median',        
'com_cat_29__max',        
'sum_minutes__min__mon3',        
'arpu_group__09',        
'com_cat_23__sum',     
]

f_train = f_train.drop(labels=exclude, axis=1)
f_test = f_test.drop(labels=exclude, axis=1)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0016_train_x.csv')
f_test.to_csv('data/v0016_test_x.csv')

(4222, 428) (5221, 428)
(4222, 419) (5221, 419)

In [157]:

f_train = pd.read_csv('data/v0016_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0016_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = [        
'com_cat_19__avg',
'sum_minutes__median__mon3',
'roam__avg',
'com_cat_30__median',
'roam__min',
'com_cat_22__avg',
'com_cat_18__sum',
'com_cat_18__min',
'vas__median',
'com_cat_18__max',
'rent_channel__avg',
'com_cat_19__max',
'com_cat_19__sum',
'com_cat_17__median',
'cost__median',
'internet_type_id__null',
'com_cat_27__min',
'com_cat_7__2',
'rent_channel__sum',
'roam__max',
'com_cat_27__sum',
'com_cat_19__min',
'com_cat_2__last__cat_53',
'com_cat_2__last__cat_54',
'com_cat_2__last__cat_55',
'com_cat_22__max',
'sum_minutes__median__mon1',
'revenue__sum',
'sum_data_min__avg',
'com_cat_18__median',
'com_cat_23__min',
'sum_data_min__avg__mon3',
'com_cat_3__16',
'com_cat_3__17',
'com_cat_1__cat_8',
'com_cat_23__median',
'cell_lac_count__mon2',
'sum_data_min__max__mon1',
'com_cat_2__last__cat_22',
'com_cat_2__last__cat_23',
'com_cat_31__max',
'com_cat_33__median',
'sum_data_mb__max__mon3',
'rent_channel__max',
'sum_minutes__avg__mon2',
   
]

f_train = f_train.drop(labels=exclude, axis=1)
f_test = f_test.drop(labels=exclude, axis=1)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0017_train_x.csv')
f_test.to_csv('data/v0017_test_x.csv')

(4222, 419) (5221, 419)
(4222, 374) (5221, 374)

In [156]:
f_train = pd.read_csv('data/v0016_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0016_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = [        
'sum_minutes__avg__mon2',
'rent_channel__max',
'sum_data_mb__max__mon3',
'com_cat_33__median',
'com_cat_31__max',
'com_cat_2__last__cat_23',
'com_cat_1__cat_8',
'com_cat_30__median',
'com_cat_27__min',
'com_cat_17__median',
'com_cat_22__max',
'roam__max',
'revenue__sum',
'cell_lac_count__mon2',
'com_cat_18__max',
'com_cat_23__min',
'com_cat_27__sum',
'com_cat_18__sum',
'com_cat_19__max',
'com_cat_23__median',
'com_cat_3__16',
'com_cat_7__2',
'sum_data_min__avg__mon3',
'sum_data_min__max__mon1',
'sum_minutes__median__mon3',
'com_cat_19__min',
'rent_channel__sum',
'com_cat_3__17',
'sum_data_min__avg',
   
]

f_train = f_train.drop(labels=exclude, axis=1)
f_test = f_test.drop(labels=exclude, axis=1)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0018_train_x.csv')
f_test.to_csv('data/v0018_test_x.csv')

(4222, 419) (5221, 419)
(4222, 390) (5221, 390)

In [160]:
f_train = pd.read_csv('data/v0017_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0017_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = [        
'com_cat_1__cat_2',
'com_cat_8__last',
'com_cat_22__last',
'sum_minutes__min__mon2',
'arpu_group__last',
'com_cat_34__08',
'com_cat_34__07',
'com_cat_34__09',
'com_cat_34__06',
'revenue__last',
'com_cat_3__last__cat_2',
'com_cat_34__10',
'com_cat_28__max',
'sum_data_min__median__mon3',
'com_cat_8__min',
'count',
'com_cat_1__cat_3',
'com_cat_26__last',
'com_cat_25__last',
'com_cat_24__last_not3112',
'com_cat_34__04',
'com_cat_34__03',
'device_type_id__2',
'device_type_id__1',
'sum_data_mb__median',
'com_cat_1__cat_1',
'com_cat_34__null',
'com_cat_34__02',
'com_cat_29__min',
'sum_data_min__sum__mon3',
   
]

f_train = f_train.drop(labels=exclude, axis=1)
f_test = f_test.drop(labels=exclude, axis=1)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0019_train_x.csv')
f_test.to_csv('data/v0019_test_x.csv')

(4222, 374) (5221, 374)
(4222, 344) (5221, 344)

In [161]:
f_train = pd.read_csv('data/v0017_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0017_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = [        
'com_cat_1__cat_2',
'com_cat_8__last',
'com_cat_22__last',
'sum_minutes__min__mon2',
'arpu_group__last',
'com_cat_34__08',
'com_cat_34__07',
'com_cat_34__09',
'com_cat_34__06',
'revenue__last',
'com_cat_3__last__cat_2',
'com_cat_34__10',
'com_cat_28__max',
'sum_data_min__median__mon3',
'com_cat_8__min',
  
]

f_train = f_train.drop(labels=exclude, axis=1)
f_test = f_test.drop(labels=exclude, axis=1)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0020_train_x.csv')
f_test.to_csv('data/v0020_test_x.csv')

(4222, 374) (5221, 374)
(4222, 359) (5221, 359)

In [162]:
f_train = pd.read_csv('data/v0017_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0017_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = [        
'com_cat_1__cat_2',
'com_cat_8__last',
'com_cat_22__last',
'sum_minutes__min__mon2',
'arpu_group__last',
'com_cat_34__08',
'com_cat_34__07',
'com_cat_34__09',
'com_cat_34__06',
'revenue__last',
'com_cat_3__last__cat_2',
'com_cat_34__10',
'com_cat_28__max',
'sum_data_min__median__mon3',
'com_cat_8__min',
'count',
'com_cat_1__cat_3',
'com_cat_26__last',
'com_cat_25__last',
'com_cat_24__last_not3112',
'com_cat_34__04',
'com_cat_34__03',
'device_type_id__2',
'device_type_id__1',
'sum_data_mb__median',
'com_cat_1__cat_1',
'com_cat_34__null',
'com_cat_34__02',
'com_cat_29__min',
'sum_data_min__sum__mon3',
'com_cat_2__last__cat_45',
'itc__last',
'com_cat_2__last__cat_44',
'com_cat_2__last__cat_43',
'com_cat_2__last__cat_42',
'com_cat_2__last__cat_41',
'com_cat_2__last__cat_40',
'com_cat_2__last__cat_39',
'com_cat_2__last__cat_38',
'com_cat_2__last__cat_37',
'com_cat_2__last__cat_36',
'arpu_group__04',
'com_cat_23__last',
'com_cat_21__last',
'com_cat_30__max',
  
]

f_train = f_train.drop(labels=exclude, axis=1)
f_test = f_test.drop(labels=exclude, axis=1)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0021_train_x.csv')
f_test.to_csv('data/v0021_test_x.csv')

(4222, 374) (5221, 374)
(4222, 329) (5221, 329)

In [163]:
f_train = pd.read_csv('data/v0017_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0017_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = [        
'com_cat_1__cat_2',
'com_cat_8__last',
'com_cat_22__last',
'sum_minutes__min__mon2',
'arpu_group__last',
'com_cat_34__08',
'com_cat_34__07',
'com_cat_34__09',
'com_cat_34__06',
'revenue__last',
'com_cat_3__last__cat_2',
'com_cat_34__10',
'com_cat_28__max',
'sum_data_min__median__mon3',
'com_cat_8__min',
'count',
'com_cat_1__cat_3',
'com_cat_26__last',
'com_cat_25__last',
'com_cat_24__last_not3112',
'com_cat_34__04',
'com_cat_34__03',
'device_type_id__2',
'device_type_id__1',
'sum_data_mb__median',
'com_cat_1__cat_1',
'com_cat_34__null',
'com_cat_34__02',
'com_cat_29__min',
'sum_data_min__sum__mon3',
'com_cat_2__last__cat_45',
'itc__last',
'com_cat_2__last__cat_44',
'com_cat_2__last__cat_43',
'com_cat_2__last__cat_42',
'com_cat_2__last__cat_41',
'com_cat_2__last__cat_40',
'com_cat_2__last__cat_39',
'com_cat_2__last__cat_38',
'com_cat_2__last__cat_37',
'com_cat_2__last__cat_36',
'arpu_group__04',
'com_cat_23__last',
'com_cat_21__last',
'com_cat_30__max',
'com_cat_29__median',
'com_cat_2__last__cat_51',
'com_cat_2__last__cat_50',
'com_cat_2__last__cat_49',
'com_cat_2__last__cat_48',
'com_cat_2__last__cat_47',
'com_cat_2__last__cat_46',
'sum_data_min__avg__mon1',
'com_cat_26__sum_zero',
'com_cat_26__2',
'com_cat_26__1',
'com_cat_25__sum_zero',
'com_cat_24__sum_not3112',
'com_cat_2__last__cat_9',
'com_cat_2__last__cat_13',
  
]

f_train = f_train.drop(labels=exclude, axis=1)
f_test = f_test.drop(labels=exclude, axis=1)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0022_train_x.csv')
f_test.to_csv('data/v0022_test_x.csv')

(4222, 374) (5221, 374)
(4222, 314) (5221, 314)

In [165]:
f_train = pd.read_csv('data/v0019_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0019_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)


f1 = pd.read_sql_query("""
select
    sk_id,
	count(distinct cell_lac_id) as data__cell_lac_id__count,
	count(distinct date(start_time)) as data__data_vol_mb__days__count,
	count(distinct start_time) as data__data_vol_mb__hours__count,
	sum(data_vol_mb) as data__data_vol_mb__sum,
	max(data_vol_mb) as data__data_vol_mb__max,
	avg(data_vol_mb) as data__data_vol_mb__avg,
	median(data_vol_mb) as data__data_vol_mb__median
from subs_bs_data_session
group by sk_id
""", con, index_col='sk_id')

f2 = pd.read_sql_query("""
select
    sk_id,
	median(cell_count) as data__hourly__cell_count__median,
	max(cell_count) as data__hourly__cell_count__max,
	avg(cell_count) as data__hourly__cell_count__avg,
	min(cell_count) as data__hourly__cell_count__min,
	--
	median(data_max_) as data__hourly__data_vol_mb__max__median,
	max(data_max_) as data__hourly__data_vol_mb__max__max,
	avg(data_max_) as data__hourly__data_vol_mb__max__avg,
	min(data_max_) as data__hourly__data_vol_mb__max__min,
	--
	median(data_sum_) as data__hourly__data_vol_mb__sum__median,
	max(data_sum_) as data__hourly__data_vol_mb__sum__max,
	avg(data_sum_) as data__hourly__data_vol_mb__sum__avg,
	min(data_sum_) as data__hourly__data_vol_mb__sum__min,
	--
	median(data_avg_) as data__hourly__data_vol_mb__avg__median,
	max(data_avg_) as data__hourly__data_vol_mb__avg__max,
	avg(data_avg_) as data__hourly__data_vol_mb__avg__avg,
	min(data_avg_) as data__hourly__data_vol_mb__avg__min,
	--
	median(data_median_) as data__hourly__data_vol_mb__median__median,
	max(data_median_) as data__hourly__data_vol_mb__median__max,
	avg(data_median_) as data__hourly__data_vol_mb__median__avg,
	min(data_median_) as data__hourly__data_vol_mb__median__min
	--
from (
	select 
		sk_id, 
		start_time,
		count(distinct cell_lac_id) as cell_count,
		max(data_vol_mb) as data_max_,
		sum(data_vol_mb) as data_sum_,
		avg(data_vol_mb) as data_avg_,
		median(data_vol_mb) as data_median_
	from subs_bs_data_session 
	group by sk_id, start_time
) g
group by sk_id
""", con, index_col='sk_id')

f3 = pd.read_sql_query("""
select
    sk_id,
	median(cell_count) as data__daily__cell_count__median,
	max(cell_count) as data__daily__cell_count__max,
	avg(cell_count) as data__daily__cell_count__avg,
	min(cell_count) as data__daily__cell_count__min,
	--
	median(data_max_) as data__daily__data_vol_mb__max__median,
	max(data_max_) as data__daily__data_vol_mb__max__max,
	avg(data_max_) as data__daily__data_vol_mb__max__avg,
	min(data_max_) as data__daily__data_vol_mb__max__min,
	--
	median(data_sum_) as data__daily__data_vol_mb__sum__median,
	max(data_sum_) as data__daily__data_vol_mb__sum__max,
	avg(data_sum_) as data__daily__data_vol_mb__sum__avg,
	min(data_sum_) as data__daily__data_vol_mb__sum__min,
	--
	median(data_avg_) as data__daily__data_vol_mb__avg__median,
	max(data_avg_) as data__daily__data_vol_mb__avg__max,
	avg(data_avg_) as data__daily__data_vol_mb__avg__avg,
	min(data_avg_) as data__daily__data_vol_mb__avg__min,
	--
	median(data_median_) as data__daily__data_vol_mb__median__median,
	max(data_median_) as data__daily__data_vol_mb__median__max,
	avg(data_median_) as data__daily__data_vol_mb__median__avg,
	min(data_median_) as data__daily__data_vol_mb__median__min
	--
from (
	select 
		sk_id, 
		date(start_time),
		count(distinct cell_lac_id) as cell_count,
		max(data_vol_mb) as data_max_,
		sum(data_vol_mb) as data_sum_,
		avg(data_vol_mb) as data_avg_,
		median(data_vol_mb) as data_median_
	from subs_bs_data_session 
	group by sk_id, date(start_time)
) g
group by sk_id
""", con, index_col='sk_id')


f4 = pd.read_sql_query("""
select
    sk_id,
	count(distinct cell_lac_id) as voice__cell_lac_id__count,
	count(distinct date(start_time)) as voice__voice_dur_min__days__count,
	count(distinct start_time) as voice__voice_dur_min__hours__count,
	sum(voice_dur_min) as voice__voice_dur_min__sum,
	max(voice_dur_min) as voice__voice_dur_min__max,
	avg(voice_dur_min) as voice__voice_dur_min__avg,
	median(voice_dur_min) as voice__voice_dur_min__median
from subs_bs_voice_session
group by sk_id
""", con, index_col='sk_id')

f5 = pd.read_sql_query("""
select
    sk_id,
	median(cell_count) as voice__hourly__cell_count__median,
	max(cell_count) as voice__hourly__cell_count__max,
	avg(cell_count) as voice__hourly__cell_count__avg,
	min(cell_count) as voice__hourly__cell_count__min,
	--
	median(voice_max_) as voice__hourly__voice_dur_min__max__median,
	max(voice_max_) as voice__hourly__voice_dur_min__max__max,
	avg(voice_max_) as voice__hourly__voice_dur_min__max__avg,
	min(voice_max_) as voice__hourly__voice_dur_min__max__min,
	--
	median(voice_sum_) as voice__hourly__voice_dur_min__sum__median,
	max(voice_sum_) as voice__hourly__voice_dur_min__sum__max,
	avg(voice_sum_) as voice__hourly__voice_dur_min__sum__avg,
	min(voice_sum_) as voice__hourly__voice_dur_min__sum__min,
	--
	median(voice_avg_) as voice__hourly__voice_dur_min__avg__median,
	max(voice_avg_) as voice__hourly__voice_dur_min__avg__max,
	avg(voice_avg_) as voice__hourly__voice_dur_min__avg__avg,
	min(voice_avg_) as voice__hourly__voice_dur_min__avg__min,
	--
	median(voice_median_) as voice__hourly__voice_dur_min__median__median,
	max(voice_median_) as voice__hourly__voice_dur_min__median__max,
	avg(voice_median_) as voice__hourly__voice_dur_min__median__avg,
	min(voice_median_) as voice__hourly__voice_dur_min__median__min
	--
from (
	select 
		sk_id, 
		start_time,
		count(distinct cell_lac_id) as cell_count,
		max(voice_dur_min) as voice_max_,
		sum(voice_dur_min) as voice_sum_,
		avg(voice_dur_min) as voice_avg_,
		median(voice_dur_min) as voice_median_
	from subs_bs_voice_session 
	group by sk_id, start_time
) g
group by sk_id
""", con, index_col='sk_id')


f6 = pd.read_sql_query("""
select
    sk_id,
	median(cell_count) as voice__daily__cell_count__median,
	max(cell_count) as voice__daily__cell_count__max,
	avg(cell_count) as voice__daily__cell_count__avg,
	min(cell_count) as voice__daily__cell_count__min,
	--
	median(voice_max_) as voice__daily__voice_dur_min__max__median,
	max(voice_max_) as voice__daily__voice_dur_min__max__max,
	avg(voice_max_) as voice__daily__voice_dur_min__max__avg,
	min(voice_max_) as voice__daily__voice_dur_min__max__min,
	--
	median(voice_sum_) as voice__daily__voice_dur_min__sum__median,
	max(voice_sum_) as voice__daily__voice_dur_min__sum__max,
	avg(voice_sum_) as voice__daily__voice_dur_min__sum__avg,
	min(voice_sum_) as voice__daily__voice_dur_min__sum__min,
	--
	median(voice_avg_) as voice__daily__voice_dur_min__avg__median,
	max(voice_avg_) as voice__daily__voice_dur_min__avg__max,
	avg(voice_avg_) as voice__daily__voice_dur_min__avg__avg,
	min(voice_avg_) as voice__daily__voice_dur_min__avg__min,
	--
	median(voice_median_) as voice__daily__voice_dur_min__median__median,
	max(voice_median_) as voice__daily__voice_dur_min__median__max,
	avg(voice_median_) as voice__daily__voice_dur_min__median__avg,
	min(voice_median_) as voice__daily__voice_dur_min__median__min
	--
from (
	select 
		sk_id, 
		date(start_time),
		count(distinct cell_lac_id) as cell_count,
		max(voice_dur_min) as voice_max_,
		sum(voice_dur_min) as voice_sum_,
		avg(voice_dur_min) as voice_avg_,
		median(voice_dur_min) as voice_median_
	from subs_bs_voice_session 
	group by sk_id, date(start_time)
) g
group by sk_id
""", con, index_col='sk_id')

f_train = pd.concat([
    f_train, 
    f1[f1.index.isin(ids_train)],
    f2[f2.index.isin(ids_train)],
    f3[f3.index.isin(ids_train)],
    f4[f4.index.isin(ids_train)],
    f5[f5.index.isin(ids_train)],
    f6[f6.index.isin(ids_train)],
], axis=1).reindex(ids_train)

f_test = pd.concat([
    f_test, 
    f1[f1.index.isin(ids_test)], 
    f2[f2.index.isin(ids_test)], 
    f3[f3.index.isin(ids_test)], 
    f4[f4.index.isin(ids_test)], 
    f5[f5.index.isin(ids_test)], 
    f6[f6.index.isin(ids_test)]
], axis=1).reindex(ids_test)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0023_train_x.csv')
f_test.to_csv('data/v0023_test_x.csv')

(4222, 344) (5221, 344)
(4222, 438) (5221, 438)

In [169]:
f_train = pd.read_csv('data/v0023_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0023_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = [        
'data__daily__data_vol_mb__median__max',
     'data__daily__cell_count__min',
'voice__hourly__voice_dur_min__sum__max',
'voice__daily__voice_dur_min__sum__median',
'data__daily__data_vol_mb__sum__min',
'data__daily__data_vol_mb__avg__avg',
'voice__hourly__voice_dur_min__median__max',
'voice__hourly__voice_dur_min__sum__min',
'voice__daily__cell_count__median',
  
]

f_train = f_train.drop(labels=exclude, axis=1)
f_test = f_test.drop(labels=exclude, axis=1)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0024_train_x.csv')
f_test.to_csv('data/v0024_test_x.csv')

(4222, 438) (5221, 438)
(4222, 429) (5221, 429)

In [170]:
f_train = pd.read_csv('data/v0023_train_x.csv',index_col='sk_id')
f_test = pd.read_csv('data/v0023_test_x.csv',index_col='sk_id')

print(f_train.shape, f_test.shape)

exclude = [        
'data__daily__data_vol_mb__median__max',
     'data__daily__cell_count__min',
'voice__hourly__voice_dur_min__sum__max',
'voice__daily__voice_dur_min__sum__median',
'data__daily__data_vol_mb__sum__min',
'data__daily__data_vol_mb__avg__avg',
'voice__hourly__voice_dur_min__median__max',
'voice__hourly__voice_dur_min__sum__min',
'voice__daily__cell_count__median',
'voice__daily__voice_dur_min__sum__max',
'voice__cell_lac_id__count',
'data__daily__data_vol_mb__max__min',
'voice__voice_dur_min__days__count',
'voice__daily__voice_dur_min__avg__max',
'data__daily__cell_count__median',
'voice__hourly__cell_count__avg',
'voice__hourly__cell_count__median',
'data__hourly__data_vol_mb__avg__median',
'voice__hourly__voice_dur_min__sum__avg',
'data__hourly__data_vol_mb__median__max',
'data__hourly__data_vol_mb__avg__max',
'voice__voice_dur_min__avg',
'data__daily__data_vol_mb__sum__avg',
  
]

f_train = f_train.drop(labels=exclude, axis=1)
f_test = f_test.drop(labels=exclude, axis=1)

print(f_train.shape, f_test.shape)

f_train.to_csv('data/v0025_train_x.csv')
f_test.to_csv('data/v0025_test_x.csv')

(4222, 438) (5221, 438)
(4222, 415) (5221, 415)